<div class="container content">
    <h1 class="font-title p-2">Libreria</h1>

    <div class="row">
      <div class="col-9">
        <form class="form-inline my-2 my-lg-0">
          <input class="isearch" type="search" placeholder="Puedes buscar por: autor, titulo, o palabra clave"
            aria-label="Busqueda ">
          <button class="bsearch ml-2" type="submit">Buscar</button>
        </form>
      </div>

    </div>
    <div class="container">
      <div class="row ">
        <div class="col-8 col-lg-10">
          <div class="row">
            <div class="card-columns">
              <div class="card border" *ngFor="let libro of libros; let i = index">
                <img class="card-img-top" [src]="libro.img" [alt]="libro.nombre">
                <div class="card-body">
                  <h5 class="card-title">{{ libro.nombre }}</h5>
                  <p class="card-text"><small class="text-muted">{{ libro.anio}}</small></p>
                  <button type="button" (click)="verLibro(i)" class="btn btn-outline-primary btn-block">Ver mas...</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border bg-success col-4 col-lg-2 " >
          <ul id="filter">
            <li>
              <a href="">Terror</a>
            </li>
            <li>
              <a href="">Suspenso</a>
            </li>
            <li>
              <a href="">Drama</a>
            </li>
            <li>
              <a href="">Novelas</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
